:root {
  --in-n-out-red: #ff0000;      
  --in-n-out-yellow: #ffcc00;   
  --in-n-out-white: #ffffff;    
}

body {
  background-color: var(--in-n-out-white);
  color: var(--in-n-out-red);
  text-align: center;
}

button {
  background-color: var(--in-n-out-red);
  color: var(--in-n-out-white);
  border: 2px solid var(--in-n-out-yellow);
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: var(--in-n-out-yellow);
  color: var(--in-n-out-red);
}

footer {
  width:100%;
  display:flex;
  justify-content: space-evenly;
  font-size: 14px;
  padding-top: 50px;
}